h1{
    justify-self: center;
}

body{
    background-color: rgb(235, 169, 121);
}

.homeimg {
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 20px;
}

.playbuttons{
    width: 20%;
    padding: 5%;
}

.one{
    display: flex;
    justify-content: space-evenly;
    
} 

.resize{
    width: 200px;
}

.Aibutton{
    width: 175px;
}

.justanimate{
    border-style: groove;
}

.justanimate:hover{
    animation: movingbuttons 15s infinite;
}

@keyframes movingbuttons {
    from{left:0px;}
    to{right: 200px; }
    
}

button{
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* div{border-style: solid; border-color: black;} */
.coloring{
    fill: red;
}

.lining{
    border-style: solid;
    border-color: black;
}

.mybutton{
    border-style: groove;
    background-color: rgb(109, 203, 224);
    width: 300px;
    justify-self: center;
}

.mybutton:hover{
    background-color: rgb(156, 94, 192);
}


a{
text-decoration: none;
}

a:visited{
    color: rgb(104, 35, 35);
}

.timestyle{
    display: flex;
    justify-content: flex-end;
}