h1{
    justify-self: center;
}

body{
    background-color: rgb(235, 169, 121);
}

.homeimg {
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 20px;
}

.playbuttons{
    width: 20%;
    padding: 5%;
}

.one{
    display: flex;
    justify-content: space-evenly;
    
} 

.resize{
    width: 200px;
}

.Aibutton{
    width: 175px;
}

button{
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* div{border-style: solid; border-color: black;} */
.coloring{
    fill: red;
}

.lining{
    border-style: solid;
    border-color: black;
}

.mybutton{
    border-style: groove;
    background-color: rgb(109, 203, 224);
    width: 300px;
    justify-self: center;
}