<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikole's Real or AI - END</title>
    <link href = "/static/style.css" rel = "stylesheet">

</head>
<body>

<div>
    
    <h1>There will soon be new screens! But for now you did it!</h1>
    
    <div>
        <!-- Scoreboard -->
         <h1>{{score_response}}</h1>
        <h1> Your end score was {{score_board}} / 4</h1>  
    </div>
    
    <div>
        <img src = "/static/endbanner.png" class = "wrongbanner" >
    </div>

    <div class = "backwords" >
    <h1> It's important to always double check even triple check when you see something on the news. Be aware that not everything is real and that there is always new ways people could scam you.</h1>
    </div>

    <div class = "mybutton">
        <a href = "/" ><h1>Back Home</h1></a>
    </div>

</body>
</html>