<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikole's Real or AI</title>

    <link href = "/static/style.css" rel = "stylesheet">

</head>

<body>
    <h1>This is another screen</h1>
  
<div>

    <div>
        Container - Scoreboard and Timer
        {{score_response}}


        <div>
            img
        </div>
        <div class = "one">
            <!-- button -->
            <a href = ><img class = "Aibutton" src = "/static/YesAi.png" width = 60px></a>
            <a href = ><img class = "resize" src = "/static/NotAi.png" width = 60px></a>
        </div>
    </div>

</div>

</body>
</html>



