<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikole's Real or AI</title>

    <link href = "/static/style.css" rel = "stylesheet">

</head>

<body>
  
<div>

    <div class = "lining">
        Container - Scoreboard and Timer
        {{score_response}}
        <h1>{{score_response}}</h1>
        <h1>{{score_board}}</h1>

        <div class = "lining">
            img
        </div>
        <div class = "one" class = "lining">
            <!-- buttons -->
            <a href = "/rightscreen"><img class = "Aibutton" src = "/static/YesAi.png" width = 60px></a>
            <a href = "/wrongscreen"><img class = "resize" src = "/static/NotAi.png" width = 60px></a>
        </div>
    </div>

</div>

</body>
</html>



