<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikole's Real or AI - CORRECT3</title>
    <link href = "/static/style.css" rel = "stylesheet">

</head>
<body>
    
 <!-- Scoreboard -->
 <h1>{{score_response}}</h1>
 <h1>{{score_board}}</h1>

 <img class = "banners" src = "/static/banner3.png"> 
 <div><h1 class = "screenwords"> Before believing something, ask yourself if there is something strange about what you just saw. Are more people talking about it? If so, what are they saying about it?</h1></div>

<!-- Continue Button -->
<div class = "mybutton">
    <a href = "/screen4"> <h1>CONTINUE</h1></a>
</div>

</body>
</html>