<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikole's Real or AI - CORRECT2</title>

    <link href = "/static/style.css" rel = "stylesheet">

</head>
<body>
    
    <!-- Scoreboard -->
    <h1>{{score_response}}</h1>
    <h1>{{score_board}}</h1>

    <img class = "bannerright" src = "/static/banner2.png"> 
    <div><h1 class = "screenwords" > Make sure that before believing something, do your research on trusted websites and make sure that it's more than one. Not everything is real and not all websites could be trusted either!</h1></div>

    <!-- Continue Button -->
    <div class = "mybutton">
        <a href = "/screen3" ><h1>CONTINUE</h1></a>
    </div>

</body>
</html>