<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikole's Real or AI - CORRECT4</title>
    <link href = "/static/style.css" rel = "stylesheet">

</head>

<body>
    
    <!-- Scoreboard -->
    <h1>{{score_response}}</h1>
    <h1>{{score_board}}</h1>

    <img class = "banners" src = "/static/banner4.png"> 
    <h1> AI could is capable of many things and very often confuses people on social platforms. It's also used to scam, so watch out! </h1>

    <div><h1 class = "screenwords">  </h1></div>
    
    <!-- Continue Button -->
    <div class = "mybutton">
        <a href = "/screen5" ><h1>CONTINUE</h1></a>
    </div>

</body>
</html>