<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikole's Real or AI - CORRECT2</title>

    <link href = "/static/style.css" rel = "stylesheet">

</head>
<body>
    
    <!-- Scoreboard -->
    <h1>{{score_response}}</h1>
    <h1>{{score_board}}</h1>

    <img class = "banners" src = "/static/banner1.png"> 
    <div><h1>It's very important to recognize the difference between our real world and AI. You got this first question correct! Lets pay close attention to these next ones!</h1></div>

    
    <!-- Continue Button -->
    <div class = "mybutton">
        <a href = "/screen3" ><h1>CONTINUE</h1></a>
    </div>

</body>
</html>